.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    place-items: center;
    background: hsl(0, 0%, 100%);
    padding: 15px;
}
.link {
    display: flex;
    list-style: none;
    gap: 39px;
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}
button {
    background: linear-gradient(136deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 140px;
    height: 40px;
    border-radius: 35px;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    
}
button:hover {
   opacity: 0.6;
}

a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.4s ease;
  }
  a:hover::after {
    width: 100%;
    background: hsl(192, 70%, 51%);
  }