@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;;
  box-sizing: border-box;
  background:  hsl(0, 0%, 98%);
  
}

/* :root {
-Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)
Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)
} */

img {
  max-width: 100%;
}
p {
  @apply text-slate-900 text-sm mb-8 leading-relaxed opacity-75 lg:text-base;
}
h2 {
  @apply text-2xl text-slate-800 mb-6 lg:text-3xl
}
h3 {
  @apply text-xl text-slate-800 mb-6 lg:text-xl
}
.btn {
  background: linear-gradient(136deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  @apply text-white font-bold py-3 px-6 rounded-full;
}
.nav-icon {
  display: none;
  color: hsl(233, 26%, 24%);
}
main {
  overflow: hidden;
}
footer {
  background-color: hsl(233, 26%, 24%);
}
@media only screen and (max-width : 768px) {
  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: -110%;
    transition: all 0.4s ease;

    &.active {
      background: hsl(0, 0%, 100%);
      opacity: ;
      left: 5%; 
      top: 5em;
      z-index: 1000;
      width: 80%;
      margin: 0 auto;
    }

    a {
      color: hsl(233, 26%, 24%);
    }
    
  }
  .nav-icon {
    display: block;
    right: 10px;
    position: absolute;
  }
  
}
